


<div class="container">
	 <div class="card">
			 
			
			
				
                       
				    <form action="/menu/confirmados" method="POST">
	    				  <input type="text" name="nombrecli" placeholder="ingrese su nombre aquí porfavor">
				          <input type="number" name="telefono" placeholder="ingrese su numero de telefono ">
						  <h2>seleccine su metodo de pago</h2>
						  
						  <input type="radio" name="pago" value="dinero">
						  <label for="dinero">DINERO</label>
						  
						  
						  <input type="radio" name="pago" value="tarjeta">
						  <label for="tarjeta">TARJETA DE CREDITO</label>
						  
						  						  <h2>seleccine su tipo de pedido</h2>
						  
						  <input type="radio" name="envio" value="recoger">
						  <label for="recoger">RECOGER DEL LOCAL</label>
						  
						  
						  <input type="radio" name="envio" value="delivery">
						  <label for="delivery">DELIVERY</label>
						  
						  <input type="submit" value="hacer pedido ">
						</form>
						

				
			
		</div>
	 </div>